<h1>Please insert name and price of the item</h1>
<form (ngSubmit)="onSubmit()" #safeitemForm="ngForm">
    <mat-form-field>
      <input
        autocomplete="section-item name"
        #name="ngModel"
        matInput
        placeholder="name"
        required
        aria-required="true"
        [(ngModel)]="model.name"
        type="text"
        name="name"
        class="form-control"
        id="name"
      />
      <mat-error
        *ngIf="(name.invalid || !name.pristine) && name.getError('required')"
        >required</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        autocomplete="section-item price"
        #price="ngModel"
        matInput
        required
        placeholder="price"
        pattern="[0-9]*"
        aria-required="true"
        [(ngModel)]="model.price"
        type="text"
        name="price"
        class="form-control"
        id="price"
      />
      <span matPrefix>€&nbsp;</span>
      <span matSuffix>.00</span>
      <mat-error
        *ngIf="(price.invalid || !price.pristine) && price.getError('required')"
        >required</mat-error
      >
      <mat-error *ngIf="price.invalid || !price.pristine "
        >{{price.getError('pattern') | json}}</mat-error
      >
    </mat-form-field>
    <button
      [disabled]="!safeitemForm.form.valid"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Submit
    </button>
  {{ model | json }}
</form>
